/* Layout */
html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: #0a0e14;
}
#home {
	background: #00ced1;
	color: white;
}

#sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  padding-top: 13.125rem;
  padding-bottom: 6.875rem;
}
#sobre .left-section h1 {
  color: var(--line);
  font-weight: 500;
  letter-spacing: 2.5px;
  font-size: 3rem;
}
#sobre .left-section h2 {
  color: gray;
  letter-spacing: 1px;
}
#sobre .left-section .contact {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  text-decoration: underline;
  border-bottom: 1px solid var(--line);
}
#sobre .left-section .contact p {
  font-family: "Lexend", sans-serif;
  letter-spacing: 1px;
  color: lightgrey;
}
#sobre .left-section .icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
  gap: 3rem;
}
#sobre .left-section .icons .social-icon {
  color: white;
  border: 1px solid white;
  padding: 0.65rem 0.75rem;
  border-radius: 0.55rem;
  transition: 0.5s;
}
#sobre .left-section .icons .social-icon:hover {
  color: var(--bg);
  border: 1px solid var(--bg);
  background-color: white;
}
#sobre .left-section .icons .social-icon p {
  text-decoration: none;
}


#habilidades {
  padding: 0 3rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background-color: var(--bg);
}

#habilidades h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 3.4375rem;
}
#habilidades h2 {
  text-align: center;
  padding-top: 3.4375rem;
}
#habilidades .skills {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  flex-direction: column;
}
#habilidades .skills .row-skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}
#habilidades .skills .row-skills div {
  background: var(--dark-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid darkgrey;
  height: 5rem;
  width: 5rem;
  padding: 5rem;
  border-radius: 1.33rem;
  transition: 0.9s;
}
#habilidades .skills .row-skills div:hover {
  background: var(--bg);
  border: 1px solid var(--dark-bg);
  box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.8);
}
#habilidades .skills div a {
  text-decoration: none;
}
#habilidades .skills div i {
  color: whitesmoke;
  padding-bottom: 1rem;
}
#habilidades .skills div p {
  filter: brightness(0.8);
  transition: filter 0.8;
}
#habilidades .skills div p:hover {
  filter: brightness(1);
}
#habilidades .skills div p, #habilidades .skills div i {
  font-size: 1.65rem;
  padding-right: 0.5rem;
}
#habilidades .skills-studying {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5rem;
}
#habilidades .skills-studying div {
  background: var(--dark-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid darkgrey;
  height: 10rem;
  width: 10rem;
  padding: 5rem;
  border-radius: 1.33rem;
  transition: 0.9s;
}
#habilidades .skills-studying div:hover {
  background: var(--bg);
  border: 1px solid var(--dark-bg);
  box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.8);
}
#habilidades .skills-studying div a {
  text-decoration: none;
}
#habilidades .skills-studying div i {
  color: whitesmoke;
  padding-bottom: 1rem;
}
#habilidades .skills-studying div p {
  filter: brightness(0.8);
  transition: filter 0.8;
}
#habilidades .skills-studying div p:hover {
  filter: brightness(1);
}
#habilidades .skills-studying div p, #habilidades .skills-studying div i {
  font-size: 1.65rem;
  padding-right: 0.5rem;
}

/* Barra de navegação */
nav.navbar-transparente {
	padding: 10px 0px;
	background: #071f2b;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #00ced1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}
/* Capa */
.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

/* Estrutura conteúdos */
.caixa {
	padding: 60px 0px;
	border-bottom: 1px solid #00ced1;
}
/* Rodapé */
footer p a {
	margin: 5px 15px;
	background: #d3d3d3;
	
}

p {
	font-size: 17px;
	letter-spacing: 2px;
	color: #ffffff;
}

/* Tipografia */
h1 {
	font-weight: 10px;
	letter-spacing: -0.05em;
	margin-bottom: 20px;
	color: dark;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
}

h2 {
	margin-top: 20px;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
}

h4 {
	margin-top: 20px;
	font-weight: 100;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
}

h5 {
	margin-top: 20px;
	font-weight: 100;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}

